html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.homeWrapper {
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: start;
  }
  
  .mapContainer {
    margin-right: 16px;
    width: 100%;
  }
  
  .searchbar {
    margin-right: 16px;
    width: 100%;
  }
  
  .autocompleteWrapper {
    width: 100%;
    height: 100%;
  }
  
  .autocompleteInput {
    width: 96%;
    padding: 16px;
    display: block;
    border: 1px solid rgb(42, 42, 38);
  }
  
  .suggestionWrapper {
    margin: 0;
    width: 96%;
    overflow-x: hidden;
    list-style: none;
    margin: 0 auto;
    display: block;
    padding: 4px;
  }
  
  .suggestionWrapper > li {
    padding: 8px 4px; 
    margin: 4px 0;
    cursor: pointer;
  }
  
  h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
  }
  
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
   
  }
  
  .locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
  }
  .locate img {
    width: 30px;
    cursor: pointer;
  }